<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/client/layout/layout}" >
	
	<th:block th:fragment="cartItemList">

	<th:block th:if="${cartItemList != null and cartItemList.size() > 0}">
	
		<div th:each="cartItem : ${cartItemList}" th:object="${cartItem}" th:data-no="*{itemId}" class="cartItem d-flex justify-content-center">
			<div>
				<img class="card-img-top">
				<h5 class="card-title" th:text="*{product.productName}"></h5>
				<span class="card-text itemPrice" th:text="*{itemPrice}"></span>원
			</div>
			<div>
				<div>
					<div>옵션</div>
					<div th:switch="*{optionSize}">
						<a th:case="0">S</a>
						<a th:case="1">M</a>
						<a th:case="2">L</a>
					</div>
					<div th:switch="*{optionTemperature}">
						<a th:case="0">ICE</a>
						<a th:case="1">HOT</a>
					</div>
					<div th:switch="*{optionShot}">
						<a th:case="0"></a>
						<a th:case="1">샷추가 +1</a>
						<a th:case="2">샷추가 +2</a>
						<a th:case="3">샷추가 +3</a>
						<a th:case="4">샷추가 +4</a>
						<a th:case="5">샷추가 +5</a>
						<a th:case="6">샷추가 +6</a>
						<a th:case="7">샷추가 +7</a>
						<a th:case="8">샷추가 +8</a>
						<a th:case="9">샷추가 +9</a>
					</div>
					<div th:switch="*{optionSyrup}">
						<a th:case="0"></a>
						<a th:case="1">카라멜시럽</a>
						<a th:case="2">바닐라시럽</a>
					</div>
				</div>
				<div class="d-flex justify-content-center">
					<button type="button" th:data-item-id="*{itemId}" class="btn btn-primary minusItemBtn">-</button>
            		<input type="number" th:id="'itemCount' + *{itemId}" class="form-control itemCount" th:value="*{itemNum}" min="1"  readonly>
					<button type="button" th:data-item-id="*{itemId}" class="btn btn-primary plusItemBtn">+</button>
		
				    <button type="button" class="btn btn-primary deleteItemBtn" th:data-item-id="*{itemId}">삭제</button>
				</div>
			</div>
		</div>
		
	    <th:block th:if="${cart.cartItems != null and cart.cartItems.size() > 0}">
	        <span>총 금액:</span>
	        <span id="cartPrice"></span>
	    </th:block>
	</th:block>

	
</th:block>	
</html>