<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{template/client/layout/layout}">

    <!-- 본문 코드가 위치하는 파일로서 상단에 layout:decorate="경로/공통레이아웃파일명"을 선언하여 기본 레이아웃 파일을 사용하겠다는 의미 -->
    <!-- 나머지 페이지에서 layout:fragment="content" 아래의 코드는 기본 레이아웃의 content라는 부분에 위치한다. -->

    <th:block layout:fragment="content">
        <div class="text-center m-3">
            <h3>공지 게시판</h3>
        </div>

	    <div id="noticesSearch" class="my-2">
			<form id="searchForm">
				<!--/* 페이징 처리를 위한 파라미터  */--> 
				<input type="hidden" name="page" id="page" th:value="${noticesList.pageRequestDTO.page}">
				<input type="hidden" name="size" id="size" th:value="${noticesList.pageRequestDTO.size}">
			</form>
		</div>

	    <table class="table table-hover table-striped">
	        <thead>
	            <tr>
	                <th>공지번호</th>
	                <th>제목</th>
	                <th>내용</th>
	                <th>작성자</th>	                
	                <th>작성일</th>
	            </tr>
	        </thead>
		      	<tbody class="list">
					<!-- #lists , #sets , #maps : 컬렉션 관련 기능 제공 -->
					<tr th:if="${#lists.size(noticesList.dtoList)==0}">
						<td colspan="5" class="text-center">등록된 게시물이 존재하지 않습니다.</td>
					</tr>
					<!--/* Strings 객체의 유틸리티 메서드는  #strings다.  ex) ${#strings.method(string)} */-->
					<th:block th:if="${not #strings.isEmpty(noticesList.dtoList)}">		
						<tr class="text-center" th:each="notices : ${noticesList.dtoList}" th:object="${notices}"  th:data-no="*{noticesNo}">
							<td th:text="*{noticesNo}"></td>
							<td><a th:href="@{/member/notices/} + *{noticesNo}" th:text="${#strings.length(notices.noticesTitle) >10 ? #strings.substring(notices.noticesTitle, 0, 10) + '...' : notices.noticesTitle}" 
							class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"></a></td>
							<td class="content" th:text="${notices.noticesContent != null && #strings.length(notices.noticesContent) > 15 ? #strings.substring(notices.noticesContent, 0, 15) + '...' : notices.noticesContent != null ? notices.noticesContent : ''}"></td>
							<td class="name" th:text="*{noticesName}"></td>
							<td class="date" th:text="*{#temporals.format(regDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
						</tr>
					</th:block>
				</tbody>
   	 	</table>
	    <nav aria-label="Page navigation example">
  			<ul class="pagination justify-content-center">
				<!--/* 이전 바로가기 10개 존재 여부를 prev 필드의 값으로 확인. */-->
           		<li class="page-item" th:if="${noticesList.prev}">
           				<a th:data-number="${noticesList.prevPage}" class="page-link">Previous</a>
           		</li>
				
				<!--/* 바로가기 번호 출력 */--> 
				<li th:each="number : ${noticesList.pageNumList}" th:classappend="'page-item ' + ${(noticesList.current == number) ? 'active':''}">
					<a class="page-link" th:text="${number}" th:data-number="${number}"></a>
				</li>

				<!--/* 다음 바로가기 10개 존재 여부를 next 필드의 값으로 확인. */-->
				<li class="page-item" th:if="${noticesList.next}">
					<a th:data-number="${noticesList.nextPage}" class="page-link">Next</a>
				</li> 
			</ul>
		</nav>
    </th:block>
    <th:block layout:fragment="script">
        <script src="/js/member/notices/noticesList.js"></script>        
    </th:block>
</html>

