<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/admin/layout/layout}" >
	
	<th:block layout:fragment="content">
		<div class="text-center"><h3>admin promotion 게시판 상세</h3></div>
		
		<div class="container" th:object="${detail}"> 
			<div>
				<form id="dataForm">
					<input type="hidden" name="promCode" th:value="*{promCode}"/>
				</form>
				
				<table class="table table-bordered">
					<tbody>
						<!-- 제목, 작성자, 작성일의 헤더와 데이터가 같은 줄에 표시됨 -->
						<tr>
							<td class="col-md-4 text-center"><strong>제목</strong>: <span th:text="*{promTitle}"></span></td>
							<td class="col-md-4 text-center"><strong>작성자</strong>: <span th:text="*{promName}"></span></td>
							<td class="col-md-4 text-center"><strong>작성일</strong>: <span th:text="*{#temporals.format(regDate, 'yyyy-MM-dd HH:mm:ss')}"></span></td>
						</tr>
						<tr>
							<td colspan="3" class="text-start">
								<div th:utext="${#strings.replace(detail.promContent, newLine, '&lt;br /&gt;')}"></div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="text-end mt-3">
					<input type="button" value="글수정" id="updateFormBtn" class="btn btn-primary btn-sm" />
					<input type="button" value="글삭제" id="promotionDeleteBtn" class="btn btn-primary btn-sm" />
					<input type="button" value="글쓰기" id="insertFormBtn" class="btn btn-primary btn-sm" />
					<input type="button" value="목록" id="promotionListBtn" class="btn btn-primary btn-sm" />
				</div>	
			</div>
		</div>
		
	</th:block>		
		
	<th:block layout:fragment="script">
		<script src="/js/admin/promotion/promotionDetail.js"></script>
	</th:block>	
</html>
