<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	
	<!-- 공통정보 -->
	<th:block th:fragment="config">
		<!-- js 파일 -->
		<script src="/assets/js/color-modes.js"></script>
		<script src="/assets/js/sidebars.js"></script>
		
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	    <title>JavaOrder :: Admin</title>
	
    	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
		<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    
		<!-- css 파일 -->
   		<link href="/css/headers.css" rel="stylesheet">
   		<link href="/css/sidebars.css" rel="stylesheet">
   		<link href="/css/sticky-footer-navbar.css" rel="stylesheet">	
	</th:block>
	
	<!-- header -->
	<th:block th:fragment="header">
		<div class="container-fluid">		
		    <div class="col-md-12 text-end">
		      <button type="button" class="btn btn-outline-primary me-2">Login</button>
		      <button type="button" class="btn btn-primary">Sign-up</button>
		    </div>
		</div>
	</th:block>
	
	
	<!-- 왼쪽 사이드 메뉴바 -->
	<th:block th:fragment="sidebar">
		<a href="/admin/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"  style="width: 200px;">
	      <span class="fs-4">JavaOrder로고</span>
	    </a>
	  <hr>
	  <ul class="nav nav-pills flex-column mb-auto">
	    <li>
	      <a href="/admin/" class="nav-link link-body-emphasis">
			Dash Board
	      </a>
	    </li>
	    <hr />
	    <li>
	      <a href="/admin/memberList" class="nav-link link-body-emphasis">
	        Member
	      </a>
	    </li>
	    <li>
	      <a href="/admin/products" class="nav-link link-body-emphasis">
	        Products
	      </a>
	    </li>
	    <li>
	      <a href="/admin/orderList" class="nav-link link-body-emphasis">
	        Orders
	      </a>
	    </li>
	    <li>
	      <a href="adminPromotion/promotionList" class="nav-link link-body-emphasis">
	        Promotion
	      </a>
	    </li>
	    <hr/>
	    <li>
	      <a href="/adminNotices/noticesList" class="nav-link link-body-emphasis">
	        Info
	      </a>
	    </li>
	    <li>
	      <a href="/adminBoard/boardList" class="nav-link link-body-emphasis">
	        QnA
	      </a>
	    </li>
	  </ul>
	  <hr>
	</th:block>
</html>