<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{template/client/layout/layout}">

    <!-- 본문 코드가 위치하는 파일로서 상단에 layout:decorate="경로/공통레이아웃파일명"을 선언하여 기본 레이아웃 파일을 사용하겠다는 의미 -->
    <!-- 나머지 페이지에서 layout:fragment="content" 아래의 코드는 기본 레이아웃의 content라는 부분에 위치한다. -->

    <th:block layout:fragment="content">
        <div class="text-center m-3">
            <h3>admin 공지 게시판 리스트</h3>
        </div>
        
       <h1>Notices List</h1>

	    <table border="1">
	        <thead>
	            <tr>
	                <th>Code</th>
	                <th>Title</th>
	                <th>Content</th>
	                <th>Name</th>	                
	                <th>Registration Date</th>
	            </tr>
	        </thead>
		      	<tbody>
		            <tr th:each="notices : ${noticesList}"  th:data-no="${notices.noticesNo}">
		                <td th:text="${notices.noticesNo}"></td>
		                <td th:text="${notices.noticesTitle}" class="goDetail"></td>
		                <td th:text="${notices.noticesContent}"></td>
		                <td th:text="${notices.noticesName}"></td>		                
		                <td th:text="${notices.regDate}"></td>
		            </tr>

<!-- 페이징 처리용으로 쓰려고 했으나 실패  -->	       	    
<!-- 			   	<th:block th:if="${not #strings.isEmpty(noticesList)}"> -->
<!-- 			   		<tr class="text-center" th:each="notices : ${noticesList}" th:object="${notices}" th:data-noticesCode="*{noticesCode}"> -->
<!-- 				   		<td th:text="*{noticesCode}"></td> -->
<!-- 				   		<td class="goDetail" th:text="*{noticesTitle}"></td> -->
<!-- 				   		<td th:text="*{noticesContent}"></td> -->
<!-- 				   		<td class="regDate" th:text="*{#temporals.format(regDate, 'yyyy-MM-dd HH:mm:ss')}"></td> -->
<!-- 			    	</tr> -->
<!-- 			    </th:block> -->
<!-- 페이징 처리용으로 쓰려고 했으나 실패  -->

				</tbody>
   	 	</table>
	    <div class="text-end">
			<button type="button" id="insertFormBtn" class="btn btn-primary btn-sm mb-2">글쓰기</button>					
	    </div>
    </th:block>
    <th:block layout:fragment="script">
        <script src="/js/admin/Notices/noticesList.js"></script>        
    </th:block>
</html>

