<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px 12px;
            border: 1px solid #ddd;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .actions a {
            margin-right: 10px;
        }
    </style>
</head>
<body>
	<th:block layout:fragment="content">
	    <h1>상품 목록</h1>
	    <table>
	        <tbody th:each="product : ${productsPage.content}">
	            <tr>
	                <td rowspan="3">
	                    <!-- 상품 코드에 맞는 이미지 로드, 없을 경우 noimg.png -->
	                    <img th:src="@{/images/{productCode}.jpg(productCode=${product.productId})}" 
	                         onerror="this.src='/images/noimg.png'" 
	                         alt="상품 이미지" style="width:100px;"/>
	                </td>
	                <td th:text="${product.productName}"></td>
	                <td th:text="${product.category.code}"></td>
	                <td th:text="${product.productId}"></td>
	                <td th:text="${#dates.format(product.productDate, 'yyyy-MM-dd')}"></td>
	                <td th:text="${#numbers.formatCurrency(product.productPrice)}"></td>
	                <td rowspan="3"><a th:href="@{'/products/' + ${product.productId}}">상세보기</a></td>
	            </tr>
	            <tr>
	                <td rowspan="2" colspan="3" th:text="${product.productExplain}"></td>

	                <!-- 상품 게시 여부 처리 -->
	                <td rowspan="2">
	                    <span th:text="${product.productSell == 'Y' ? '게시 중' : '미게시'}"></span>
	                </td>

	                <td rowspan="2" th:text="${product.productOrder}"></td>
	            </tr>
	        </tbody>
	    </table>

	    <div>
	        <div>
	            <a th:href="@{/products(page=${productsPage.number - 1})}" th:if="${productsPage.hasPrevious()}">←</a>
	            <span th:each="i : ${#numbers.sequence(1, productsPage.totalPages)}">
	                <a th:href="@{/products(page=${i - 1})}" th:text="${i}" th:classappend="${i == productsPage.number + 1} ? 'current' : ''"></a>
	            </span>
	            <a th:href="@{/products(page=${productsPage.number + 1})}" th:if="${productsPage.hasNext()}">→</a>
	        	<a th:href="@{/products/new}">상품 등록</a>
	        </div>
	    </div>
	</th:block>
</body>
</html>
