<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/admin/layout/layout}" >

<th:block layout:fragment="content">
	<h3>대시보드</h3>
	
	<div> 주문별 통계정보 출력</div>
	
	<h1>Top 5 Selling Products</h1>
    
    <!-- Top 5 Selling Products Pie Chart -->
<!--     <canvas id="topSellingProductsChart" width="100px" height="100px"></canvas> -->
	<canvas id="topSellingProdPie" width="300px" height="300px"></canvas>
	<hr />
	<h1>Order Statistics Dashboard</h1>

    <!-- Weekly Sales Bar Chart -->
    <h2>Weekly Sales</h2>
    <canvas id="weeklySalesChart"  width="300px" height="300px"></canvas>

    <!-- Monthly Sales Line Chart -->
    <h2>Monthly Sales</h2>
    <canvas id="monthlySalesChart"  width="300px" height="300px"></canvas>
</th:block>
		
<th:block layout:fragment="script">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/admin/dashBoard/dashBoard.js"></script>
</th:block>
</html>