<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/admin/layout/layout}" >

<th:block layout:fragment="content">
	<h3>전체 주문내역 조회</h3>
	
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>주문번호</th>
				<th>회원번호</th>
				<th>상품명</th>
				<th>총금액</th>
				<th>주문일자</th>
				<th>주문상태</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="6">주문 내역이 없습니다.</td>
			</tr>
		</tbody>
	</table>
</th:block>
		
<th:block layout:fragment="script">
	<script>
		console.log(/*[[${orderList}]]*/"");
	</script>
</th:block>
</html>