<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100" data-bs-theme="auto" >
	<head>
		<th:block th:insert="~{template/admin/fragments/block :: config}"></th:block>
		<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/">
		<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
		<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sticky-footer-navbar/">
		<meta name="theme-color" content="#712cf9"/>
	</head>
	<body class="d-flex h-100 text-center">
		
		
		<!-- sidebar -->
		<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary">
  			<th:block th:insert="~{template/admin/fragments/block :: sidebar}"></th:block>
		</div>
		
		
		<!-- main -->
		<main class="d-flex flex-column w-100 pt-2 m-5">
		   	<th:block layout:fragment="content"></th:block>
		</main>
		
		<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/js/jquery-3.7.1.min.js"></script>
		<script src="/js/common.js"></script>
		<th:block layout:fragment="script"></th:block>
	</body>
</html>